.node {
  border: 1px solid #0984e3;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  padding: 12px;
  width: 180px;
  text-align: center;
  font-weight: bold;
  color: #0984e3;
  cursor: pointer;
  line-height: 1.2;
}

.node:hover {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(252, 252, 252) 0%, rgb(239, 241, 243) 90%);
}

.content {
  pointer-events: none;
}

.droppable {
  box-shadow: #0984e3 0px 4px 12px;
}

.handle {
  background-color: #0984e3;
  border-color: white;
  visibility: hidden;
}

.placeholder {
  width: 180px;
  background: #fff;
  border: 1px dashed #bbb;
  color: #bbb;
  box-shadow: none;
}

.swoopyWrapper {
  position: absolute;
  top: -34px;
  left: 150px;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  line-height: 1.1;
  color: #999;
  width: 120px;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}

.swoopy {
  margin-right: 6px;
  font-size: 16px;
  font-weight: 900;
  position: relative;
  top: 6px;
}
