body {
  margin: 0;
  background-color: #f8f8f8;
}

html,
body,
#root {
  height: 100%;
}

.slide {
  border: 1px solid hsl(333 100% 50%);
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
