@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@xyflow/react/dist/style.css';
@import 'xy-shared/styles/globals.css';

@layer base {
  :root {
    --primary: 333 100% 50%;
    --primary-foreground: 210 40% 98%;
    --docsearch-primary-color: hsl(var(--primary));

    --secondary-foreground: 333 100% 50%;
    --accent: 333 100% 50%;
    --shiki-color-background: red;
  }
}

/* .nextra-nav-container nav .nextra-scrollbar > a[href='/components']:after {
  content: 'beta';
  position: absolute;
  top: 17px;
  font-weight: 700;
  font-size: 0.6rem;
  color: hsl(var(--primary));
} */

.nextra-banner-container {
  @apply bg-[linear-gradient(1deg,#383838,#212121)];
}

.developer-survey-2023 [dir='ltr'] {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.developer-survey-2023 ._mx-auto {
  flex-grow: 1;
  width: 100%;
}

.developer-survey-2023 footer {
  display: none;
}
