@import url('@xyflow/react/dist/style.css');
@import url('@/xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.edge-label-renderer__custom-edge {
  position: absolute;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
}

.react-flow__edge-textbg {
  fill: #F7F9FB;
}