html,
body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow__edge-path {
  stroke: #333;
  stroke-width: 2;
}

.temp .react-flow__edge-path {
  stroke: #bbb;
  stroke-dasharray: 5 5;
}
