@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
}

html,
body,
#app {
  height: 100%;
}

.react-flow__node {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--xy-node-background-color-default);
  border: var(--xy-node-border-default);
  padding: 1rem;
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__handle {
  opacity: 0;
  pointer-events: none !important;
}
