.react-flow__node {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  font-size: 12px;
}

.number-input {
  padding: 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
}

.node {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.handle {
  position: relative;
  top: 15px;
}

.label {
  margin-left: 10px;
  mix-blend-mode: difference;
  color: white;
  font-weight: bold;
}

.lightness-node {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
