@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow__node-zoom {
  font-size: 12px;
  background: var(--xy-node-background-color-default);
  border: var(--xy-node-border-default);
  border-radius: 5px;
  text-align: center;
  width: 150px;
  padding: 10px;
  line-height: 1.2;
}

.react-flow__node-zoom img {
  pointer-events: none;
}

.placeholder {
  display: contents;
}

.placeholder div {
  background: var(--xy-theme-muted-bg);
  width: 100%;
  height: 10px;
  margin-bottom: 4px;
}

.placeholder div:last-child {
  margin-bottom: 0;
}
