body {
  margin: 0;
  background-color: #f8f8f8;
}

html,
body,
#root {
  height: 100%;
}

.slide {
  box-sizing: border-box;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  position: relative;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 4rem;
  font-size: 4rem;
}

.slide__controls {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: end;
  gap: 4px;
}

.slide__controls button {
  font-size: 2rem;
}
