@import url('@xyflow/react/dist/style.css');
@import url('@/xy-theme.css');


html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.stress-test__button {
  position: absolute;
  right: 10px;
  top: 30px;
  z-index: 4;
}