/* Docsearch overwrite */
.nextra-nav-container {
  --docsearch-searchbox-background: #eee;
  --docsearch-searchbox-focus-background: #eee;
  --docsearch-primary-color: hsl(var(--primary));
  --docsearch-highlight-color: hsl(var(--primary));
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--docsearch-primary-color);
}

.nextra-nav-container .DocSearch-Button {
  margin-left: 0;
}

.nextra-nav-container .DocSearch-Button .DocSearch-Search-Icon {
  width: 16px;
  height: 16px;
}

.DocSearch-Button .DocSearch-Button-Keys {
  font-size: 12px;
}

.DocSearch-Button .DocSearch-Button-Placeholder {
  font-size: 14px;
}

.DocSearch-Input:focus,
.DocSearch-Input:focus-visible {
  outline: none;
  box-shadow: none;
}
