@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@xyflow/react/dist/style.css';
@import 'xy-shared/lib/globals.css';

@layer base {
  :root {
    --primary: 333 100% 50%;
    --primary-foreground: 210 40% 98%;
    --docsearch-primary-color: hsl(var(--primary));

    --secondary-foreground: 333 100% 50%;
    --accent: 333 100% 50%;
  }
}

/* this override adds some space for the api docs */

.learn article main.md\:nx-px-12,
.api-reference article main.md\:nx-px-12,
.examples article main.md\:nx-px-12 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* this unifies the /examples content width with /api-refernce and /learn */

.examples main.nx-max-w-6xl {
  max-width: none;
}

/* We have this weird bug where the mobile top navbar can be scrolled out of view
even though the body is supposed to have overflow:hidden set. The following two
rules make it work almost correctly, but they don't feel great. */

html:has(body.nx-overflow-hidden) {
  overflow-y: hidden;
}

html:has(body.nx-overflow-hidden) nav {
  position: fixed;
  width: 100%;
}

.nextra-banner-container {
  @apply bg-[linear-gradient(1deg,#383838,#212121)];
}

.developer-survey-2023 [dir='ltr'] {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.developer-survey-2023 .nx-mx-auto {
  flex-grow: 1;
  width: 100%;
}

.developer-survey-2023 footer {
  display: none;
}
