@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reactflow/dist/style.css';
@import 'xy-ui/lib/globals.css';

@layer base {
  :root {
    --primary: 333 100% 50%;
    --primary-foreground: 210 40% 98%;
    --docsearch-primary-color: hsl(var(--primary));
  }
}
