@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
}

html,
body,
#app {
  height: 100%;
}

.svelte-flow__node {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.svelte-flow__handle {
  opacity: 0;
  pointer-events: none !important;
}
