@import 'tailwindcss';
@import '@xyflow/react/dist/style.css';

@import 'xy-shared/styles/globals.css';
@import 'nextra-theme-docs/style.css';
@import 'xy-tailwind-config/theme.css';

/* TODO: this does not seem to make a difference */
@source '../../../../packages/xy-shared/';

/* Site-specific theme extensions */
/* TODO: what is this */
@theme {
  --background-image-gradient: url('/img/bg-gradient.jpg');
}

@layer base {
  :root {
    --primary: 15 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 15 100% 50%;
    --accent: 15 100% 50%;
  }
}

/* Hide `Pro` link from the desktop navbar */
.nextra-navbar > nav > div > a[href='/pro'] {
  display: none;
}
