@import 'tailwindcss';
@import '@xyflow/react/dist/style.css';

@import 'xy-shared/styles/globals.css';
@import 'nextra-theme-docs/style.css';

/* TODO: this does not seem to make a difference */
@source '../../../../packages/xy-shared/';

/* Site-specific theme extensions */
/* TODO: what is this */
@theme {
  --background-image-gradient: url('/img/bg-gradient.jpg');
}

/* Svelte Flow uses the Svelte brand color (orange) */
@layer base {
  :root {
    --primary: var(--color-svelte);
    --accent: var(--color-svelte);
    --secondary-foreground: var(--color-svelte);
  }
}

/* Hide `Pro` link from the desktop navbar */
.nextra-navbar > nav > div > a[href='/pro'] {
  display: none;
}
