@import url('@xyflow/react/dist/style.css');
@import url('./../../../../xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow__node-ghost,
.react-flow__node-ghost.selected.selectable,
.react-flow__node-ghost.selectable:focus {
  border: 0;
  box-shadow: none;
}