@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.validationflow .react-flow__node {
  width: 150px;
  min-height: 44px;
  text-align: center;
  font-size: 12px;
}

.validationflow .react-flow__node-customnode {
  background: var(--xy-theme-muted-bg);
}

.react-flow__node-custominput .react-flow__handle {
  background: var(--xy-theme-muted-bg);
}

.validationflow .react-flow__node-custominput {
  background: var(--xy-node-background-color-default);
}

.validationflow .react-flow__handle.connectingto {
  background: #ff6060;
}

.validationflow .react-flow__handle.valid {
  background: #55dd99;
}
