@import 'tailwindcss';
@import '@xyflow/react/dist/style.css';

@import 'xy-shared/styles/globals.css';
@import 'nextra-theme-docs/style.css';
@import 'xy-tailwind-config/theme.css';

/* TODO: this does not seem to make a difference */
@source '../../../../packages/xy-shared/';

/* Site-specific theme extensions */
/* TODO: what is this */
@theme {
  --background-image-gradient: url('/img/bg-gradient.jpg');
}

@layer base {
  :root {
    --accent: 333 100% 50%;
    --shiki-color-background: red;

    --primary: 333 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 100% 100%;
    --secondary-foreground: 333 100% 50%;

    --color-xyflow: 248 1% 85%;
    --color-react: 333 100% 50%;
    --color-svelte: 15 100% 50%;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --light: 215.4 16.3% 46.9%;
  }
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

/* .nextra-nav-container nav .nextra-scrollbar > a[href='/components']:after {
  content: 'beta';
  position: absolute;
  top: 17px;
  font-weight: 700;
  font-size: 0.6rem;
  color: hsl(var(--primary));
} */

.nextra-banner-container {
  @apply bg-[linear-gradient(1deg,#383838,#212121)];
}

.developer-survey-2023 [dir='ltr'] {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.developer-survey-2023 .x\:mx-auto {
  flex-grow: 1;
  width: 100%;
}

/* Hide `Pro` link from the desktop navbar */
.nextra-navbar > nav > div > a[href='/pro'] {
  display: none;
}
