@import 'tailwindcss';
@layer base;

@import '@xyflow/react/dist/style.css' layer(base);

@import 'xy-shared/styles/globals.css';
@import 'nextra-theme-docs/style.css';


/* TODO: this does not seem to make a difference */
@source '../../../../packages/xy-shared/';

/* Site-specific theme extensions */
/* TODO: what is this */
@theme {
  --background-image-gradient: url('/img/bg-gradient.jpg');
}

/* React Flow uses the React brand color (pink) */
@layer base {
  :root {
    --primary: var(--color-react);
    --accent: var(--color-react);
    --secondary-foreground: var(--color-react);
    --light: 215.4 16.3% 46.9%;
  }
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

.nextra-banner-container {
  @apply bg-[linear-gradient(1deg,#383838,#212121)];
}

.developer-survey-2023 [dir='ltr'] {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.developer-survey-2023 .x\:mx-auto {
  flex-grow: 1;
  width: 100%;
}

/* Hide `Pro` link from the desktop navbar */
.nextra-navbar > nav > div > a[href='/pro'] {
  display: none;
}
