.sidebar {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  position: absolute;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  right: 15px;
  top: 15px;
  z-index: 1000;
  max-width: 250px;
  padding: 10px;
}

.sidebarItem {
  padding: 5px;
  border: 1px solid #0984e3;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sidebarItem:last-child {
  margin-bottom: 0;
}
