@import url('./xy-theme.css');

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

#event-list {
  position: absolute;
  top: 4px;
  left: 4px;
  pointer-events: none;
  font-family: monospace;
  padding: 0.5rem;
  background-color: ghostwhite;
  border-radius: 4px;

  & > p {
    margin: 0;
  }
}
