html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

@layer base {
  @import '@xyflow/react/dist/style.css';
}

@tailwind utilities;
