# This is an example file which you can copy to .env.local and fill with the values
# The variables set here are also set on vercel for configuring the deployment

# Upstash configuration for fetching the pro examples
UPSTASH_REDIS_REST_URL=https://eu1-rest.upstash.io/redis/xxxxxx
UPSTASH_REDIS_REST_TOKEN=***************