@import 'tailwindcss';
@import '@xyflow/react/dist/style.css';

@import 'xy-shared/styles/globals.css';
@import 'nextra-theme-docs/style.css';
@import 'xy-tailwind-config/theme.css';

/* TODO: this does not seem to make a difference */
@source '../../../../packages/xy-shared/';

/* Site-specific theme extensions */
/* TODO: what is this */
@theme {
  --background-image-gradient: url('/img/bg-gradient.jpg');
}

@layer base {
  :root {
    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 0 0% 0%;
  }
}
