/* this gets exported as xy-theme.css and can be used for the default theming */
/* these are the necessary styles for React/Svelte Flow, they get used by base.css and style.css */

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

input {
  width: 100%;
  margin: 5px 0px;
  font-family: monospace;
  border-radius: 3px;
  box-shadow: 0px 5.02px 6.46px 0px rgba(0, 0, 0, 0.05), 0px 0.72px 1.44px 0px rgba(0, 0, 0, 0.1);
  border: var(--xy-node-border-default);
  outline: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}


.overview * {
  box-sizing: border-box;
}

.overview .react-flow__controls button {
  box-sizing: content-box;
}


/* Minimap */

.react-flow__minimap .group {
  fill-opacity: 0.4;
}

.react-flow__minimap .resizer,
.react-flow__minimap .tools,
.react-flow__minimap .circle,
.react-flow__minimap .textinput {
  fill: rgb(208, 192, 247);
}

.react-flow__minimap .resizer {
  fill: rgb(208, 192, 247);
}

.react-flow__minimap .circle {
  rx: 100%;
  ry: 100%;
}

.react-flow__minimap .annotation {
  display: none;
}

/* Circle Node */

.react-flow__node-circle {
  transform: translate(13.3214px, 390.276px);
  pointer-events: all;
  visibility: visible;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-family: monospace;     
  text-align: center;
  border: none;
  background-image: linear-gradient(270deg, #659DF7 0%, #F57DBD 100%);

}

.react-flow__node-circle--inner {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  border-radius: 50%;
  display: flex;                
  justify-content: center;    
  align-items: center;     
  margin: 1.5px;
  pointer-events: none;
}

/* Text Input */


.react-flow__node-textinput {
  border: 0;
  padding: 0;
  background-image: linear-gradient(270deg, #659DF7 0%, #F57DBD 100%);
}

.react-flow__node-textinput--inner {
  background-color: inherit;
  z-index: -1;
  margin: 1.5px;
  padding: 10px;
  text-align: left;
  border-radius: 7px;
}

/* Custom Handles */


.react-flow__node-resizer .react-flow__handle,
.react-flow__node-circle .react-flow__handle,
.react-flow__node-textinput .react-flow__handle {
  background: #bbb;
  border-radius: 0;
  width: 8px;
  height: 4px;
  border: none;
  min-width: 2px;
  min-height: 2px;
}

.react-flow__node-resizer .react-flow__handle-bottom,
.react-flow__node-circle .react-flow__handle-bottom,
.react-flow__node-textinput .react-flow__handle-bottom {
  bottom: -5px;
  transform: none;
  border-radius: 0 0 2px 2px;
}

.react-flow__node-resizer .react-flow__handle-top,
.react-flow__node-circle .react-flow__handle-top,
.react-flow__node-textinput .react-flow__handle-top {
  top: -5px;
  transform: none;
  border-radius: 2px 2px 0 0;
}

.react-flow__node-resizer .react-flow__handle-left,
.react-flow__node-circle .react-flow__handle-left,
.react-flow__node-textinput .react-flow__handle-left {
  height: 8px;
  width: 4px;
  left: -5px;
  border-radius: 2px 0 0 2px;
}

/* Annotation */

.react-flow__node-annotation {
  font-size: 16px;
  width: 200px;
  color: #683BFA;
  position: absolute;
  box-shadow: none;
  font-family: monospace;
  text-align: left;
  background-color: transparent;
  border: none;
}

.react-flow__node-annotation .arrow {
  position: absolute;
  font-size: 24px;
}

/* Toolbar */

.react-flow__node-toolbar button {
  cursor: pointer;
  background-color: #000000;
  border: none;
  padding: 3px 7px;
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node-toolbar button:hover {
  background: #4d4d4d;
}

.react-flow__node-toolbar button:first-child {
  border-radius: 16px 0 0 16px;
  border-right: 2px solid #4d4d4d;
}

.react-flow__node-toolbar button:last-child {
  border-radius: 0 16px 16px 0;
  border-left: 2px solid #4d4d4d;
}

.react-flow__button--edge {
  width: 30px;
  height: 30px;
  border: 5px solid var(--xy-edge-label-background-color-default);
  color: var(--xy-edge-label-color-default);
  background-color: #F3F3F4;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  padding-top: 0px;
}

.react-flow__button--edge:hover {
  background-color: var(--xy-theme-hover);
  color: #ffffff;
}

