html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 12px;
}

input {
  width: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
}

.overview * {
  box-sizing: border-box;
}

.overview .react-flow__controls button {
  box-sizing: content-box;
}


/* Minimap */

.react-flow__minimap .group {
  fill-opacity: 0.4;
}

.react-flow__minimap .resizer,
.react-flow__minimap .tools,
.react-flow__minimap .circle,
.react-flow__minimap .textinput {
  fill: rgb(208, 192, 247);
}

.react-flow__minimap .resizer {
  fill: rgb(208, 192, 247);
}

.react-flow__minimap .circle {
  rx: 100%;
  ry: 100%;
}

.react-flow__minimap .annotation {
  display: none;
}

/* Circle Node */

.react-flow__node-circle {
  z-index: 1000;
  transform: translate(13.3214px, 390.276px);
  pointer-events: all;
  visibility: visible;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  display: flex;                
  justify-content: center;    
  align-items: center;          
}


/* Annotation */

.react-flow__node-annotation {
  font-size: 16px;
  width: 200px;
  color: #ff0071;
  position: absolute;
}

.react-flow__node-annotation .arrow {
  position: absolute;
  font-size: 24px;
}
