
.react-flow {
  --xy-theme-selected-default: #B2004F;
  --xy-theme-hover-default: #FE4C96;

  --xy-edge-stroke-default: #AAAAAA;
  --xy-edge-stroke-selected-default: #FF0072;

  --xy-node-border-default: 1px solid #EDEDED;

  --xy-node-boxshadow-default: 
    0px 3.54px 4.55px 0px #00000005, 
    0px 3.54px 4.55px 0px #0000000D, 
    0px 0.51px 1.01px 0px #0000001A;

  --xy-node-boxshadow-hover-default: 0 1px 4px 1px rgba(227, 227, 227, 0.85);
  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #AAAAAA;

  --xy-edge-label-color-default: #505050;
  --xy-resize-background-color-default: #9E86ED;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

/* General Nodes */

.react-flow__node {
  box-shadow: var(--xy-node-boxshadow-default);
  border-radius: var(--xy-node-border-radius-default);
  background-color: var(--xy-node-background-color-default);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  flex-direction: column;
  border: var(--xy-node-border-default);
  color: var(--xy-node-color, var(--xy-node-color-default));
}

.react-flow__node.selectable:hover, 
.react-flow__node.draggable:hover {
  border-color: var(--xy-theme-hover-default);
}

.react-flow__node.selectable.selected,
.react-flow__node.selectable:focus,
.react-flow__node.selectable:focus-visible {
  border-color: var(--xy-theme-selected-default);
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node-group {
  background-color: rgba(207, 182, 255, 0.4);
  border-color: #9E86ED;
}

.react-flow__edge.selectable:hover .react-flow__edge-path {
  stroke: var(--xy-theme-hover-default);
}

.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: var(--xy-theme-selected-default);
}

.react-flow__handle.connectionindicator:hover, 
.react-flow__handle.connectingfrom {
  pointer-events: all;
  border-color: var(--xy-theme-hover-default);
  background-color: var(--xy-theme-hover-default);
}

.react-flow__handle.connectionindicator:focus, 
.react-flow__handle.connectingfrom {
  pointer-events: all;
  border-color: var(--xy-theme-selected-default);
  background-color: var(--xy-theme-selected-default);
}


.react-flow__node-resizer {
  border-radius: 0;
  border: none;
}

.react-flow__resize-control.handle {
  background-color: #ffffff;
  border-color: var(--xy-resize-background-color-default);
  border-radius: 0;
  width: 5px;
  height: 5px;
}


/* Minimap */

.react-flow__minimap .group {
  fill-opacity: 0.4;
}

.react-flow__minimap .resizer,
.react-flow__minimap .tools,
.react-flow__minimap .circle,
.react-flow__minimap .textinput {
  fill: rgb(208, 192, 247);
}

.react-flow__minimap .circle {
  rx: 100%;
  ry: 100%;
}

.react-flow__minimap .annotation {
  display: none;
}

/* Circle Node */

.react-flow__node-circle {
  transform: translate(13.3214px, 390.276px);
  pointer-events: all;
  visibility: visible;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-family: monospace;     
  text-align: center;
  border: none;
  background-image: linear-gradient(270deg, #659DF7 0%, #F57DBD 100%);

}

.circle-node__inner {
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  border-radius: 50%;
  display: flex;                
  justify-content: center;    
  align-items: center;     
  margin: 1.5px;
  pointer-events: none;
}

/* Text Input */

.react-flow__node-textinput {
  border: 0;
  padding: 0;
  background-image: linear-gradient(270deg, #659DF7 0%, #F57DBD 100%);
}

.text-input-node__inner {
  background-color: inherit;
  z-index: -1;
  margin: 1.5px;
  padding: 10px;
  text-align: left;
  border-radius: 7px;
}

.text-input-node__input {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0px;
  overflow: hidden;
  font-family: monospace;
  border-radius: 3px;
  border: var(--xy-node-border-default);
  outline: 0;
}

.text-input-node__input::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.text-input-node__input {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Custom Handles */

.react-flow__node-resizer .react-flow__handle,
.react-flow__node-circle .react-flow__handle,
.react-flow__node-textinput .react-flow__handle {
  background: #bbb;
  border-radius: 0;
  width: 8px;
  height: 4px;
  border: none;
  min-width: 2px;
  min-height: 2px;
}

.react-flow__node-resizer .react-flow__handle-bottom,
.react-flow__node-circle .react-flow__handle-bottom,
.react-flow__node-textinput .react-flow__handle-bottom {
  bottom: -5px;
  transform: none;
  border-radius: 0 0 2px 2px;
}

.react-flow__node-resizer .react-flow__handle-top,
.react-flow__node-circle .react-flow__handle-top,
.react-flow__node-textinput .react-flow__handle-top {
  top: -5px;
  transform: none;
  border-radius: 2px 2px 0 0;
}

.react-flow__node-resizer .react-flow__handle-left,
.react-flow__node-circle .react-flow__handle-left,
.react-flow__node-textinput .react-flow__handle-left {
  height: 8px;
  width: 4px;
  left: -5px;
  border-radius: 2px 0 0 2px;
}

/* Annotation Node */

.react-flow__node-annotation {
  font-size: 16px;
  width: 200px;
  color: #683BFA;
  position: absolute;
  box-shadow: none;
  font-family: monospace;
  text-align: left;
  background-color: transparent;
  border: none;
}

.react-flow__node-annotation .annotation-content {
  padding: 10px;
  display: flex;
}

.react-flow__node-annotation .annotation-level {
  margin-right: 4px;
}

.react-flow__node-annotation .annotation-arrow {
  position: absolute;
  font-size: 24px;
}

/* Toolbar Node */

.react-flow__node-toolbar button {
  cursor: pointer;
  background-color: #000000;
  border: none;
  padding: 3px 7px;
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node-toolbar button:hover {
  background: #4d4d4d;
}

.react-flow__node-toolbar button:first-child {
  border-radius: 16px 0 0 16px;
  border-right: 2px solid #4d4d4d;
}

.react-flow__node-toolbar button:last-child {
  border-radius: 0 16px 16px 0;
  border-left: 2px solid #4d4d4d;
}

/* Button Edge */

.button-edge__label {
  position: absolute;
  pointer-events: all;
  transform-origin: center; 
}

.button-edge__button {
  width: 30px;
  height: 30px;
  border: 5px solid var(--xy-edge-label-background-color-default);
  color: var(--xy-edge-label-color-default);
  background-color: #F3F3F4;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  padding-top: 0px;
}

.button-edge__button:hover {
  background-color: var(--xy-theme-hover-default);
  color: #ffffff;
}

/* Resizer Node */

.resizer-node__handles {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  left: 0;
}

.resizer-node__handle {
  position: relative;
  left: 0;
  transform: none;
}
