html,
body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

.floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floatingedges .react-flow__handle {
  opacity: 0;
}
