#event-list {
  position: absolute;
  top: 4px;
  left: 4px;
  pointer-events: none;
  font-family: monospace;
  padding: 0.5rem;
  background-color: ghostwhite;
  border-radius: 4px;

  & > p {
    margin: 0;
  }
}
